# Environment variables
.env
.env.*
!.env.template

# Virtual environment
venv/
env/
.venv/

# Database
*.db
*.sqlite3

# PyCharm
.idea/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python